/* _____ Import files _____ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Open+Sans:wght@400;700&display=swap');

/* _____ style all rules _____ */
:root {
  --main-color: #EC0101;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fef7f7;
  color: #212529;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  display: block;
  user-select: none;
  text-decoration: none;
  text-transform: capitalize;
}

.bg-color1 {
  background-color: #F8EFD4;
}

.bg-color2 {
  background-color: #E6E7F6;
}

.bg-color3 {
  background-color: #DDF8F6;
}

.bg-color4 {
  background-color: #F9E4E4;
}

.btn {
  text-transform: uppercase;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  font-size: 12px;
  padding: 13px 34px;
  letter-spacing: 1px;
  width: fit-content;
  transition: 200ms linear;
  margin-top: 63px;
}

.btn-primary {
  background: var(--main-color);
  border: 1px solid var(--main-color);
}

.btn-primary:hover {
  border: 1px solid #cf0505;
}

.btn-outline-primary {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  margin: 63px auto 0;
}

.btn-outline-primary:hover {
  background: var(--main-color);
  border: 1px solid #cf0505;
  color: #fff;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 70px !important;
}

.size-14 {
  font-size: 14px;
}

.size-20 {
  font-size: 20px;
  font-family: 'Georgia', serif;
}

a.link {
  color: var(--main-color);
}

a.link:hover {
  color: #bd0101;
}

.text-black-50 {
  opacity: 1;
  color: rgba(0, 0, 0, .5);
}

.text-black {
  opacity: 1;
}

.container {
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
}

.row {
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row>* {
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

@media only screen and (max-width: 576px) {
  .mt-xs-5 {
    margin-top: 3rem;
  }
}

/* _____ style preloader _____ */
.preloader {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: 150ms linear;
}
.preloader.show {
  opacity: 0;
  visibility: hidden;
}
.preloader .spinner {
  width: 32px;
  height: 32px;
  border: 3px solid var(--main-color);
  border-right-color:transparent;
  border-radius: 50%;
  animation: circle infinite 700ms linear;
}

@keyframes circle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* _____ style line _____ */
.d-flex>div {
  height: 10px;
  width: calc(100% / 5)
}

.line-1 {
  background-color: #007f74;
}

.line-2 {
  background-color: #fe5802;
}

.line-3 {
  background-color: #025e69;
}

.line-4 {
  background-color: #464f9e;
}

.line-5 {
  background-color: #ec0101;
}

.section {
  padding: 100px 0;
}

.main-title img {
  margin-bottom: 10px;
}

.main-title h2 {
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}

/* _____ style nav-menu _____ */
.nav-menu {
  padding: 15px 0;
  position: absolute;
  width: 100%;
}

.nav-menu .logo {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.nav-menu .bars {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.nav-menu .bars span {
  width: 28px;
  height: 2px;
  opacity: 1;
  margin-bottom: 9px;
  background-color: #fff;
  transition: 150ms linear;
}

.nav-menu .bars span:last-of-type {
  margin-bottom: 0;
}

.nav-menu .bars:hover span:first-child {
  transform: translateY(3px);
}

.nav-menu .bars:hover span:last-of-type {
  transform: translateY(-3px);
}

.nav-menu .bars.active span:first-child {
  transform: translateY(10px) rotate(45deg);
}

.nav-menu .bars.active span:nth-child(2) {
  opacity: 0;
}

.nav-menu .bars.active span:last-of-type {
  transform: translateY(-10px) rotate(-45deg);
}

.nav-menu ul {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.nav-menu ul li {
  margin: 0 2px;
  position: relative;
}

.nav-menu ul li a {
  padding: 10px 14px;
  transition: 100ms linear;
  color: rgba(255, 255, 255, .7);
}

.nav-menu ul li a.active,
.nav-menu ul li:hover>a {
  color: #fff;
}

i.fa-angle-down {
  font-size: 9px;
  margin-left: 10px;
  float: right;
  line-height: 22px;
}

.nav-menu ul ul {
  position: absolute;
  flex-direction: column;
  top: 100%;
  width: 180px;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  transform: translateY(15px);
  opacity: 0;
  visibility: hidden;
  transition: 150ms linear;
}

.nav-menu ul ul li a {
  color: #000;
}

.nav-menu ul ul li a i.fa-angle-down {
  transform: rotate(-90deg);
}

.nav-menu ul ul ul {
  left: 100%;
  top: 0;
}

.nav-menu ul ul li:hover>a,
.nav-menu ul ul li a.active {
  color: #ec0101;
}

.nav-menu ul li:hover>ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* _____ style nav-site _____ */
.mobile-site-close {
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
}

.mobile-site-close span {
  font-size: 50px;
  color: #000 !important;
  opacity: 1;
}

main {
  margin-top: 80px;
}

.site-nav {
  background-color: #fff;
  position: fixed;
  width: 300px;
  right: -300px;
  top: 0;
  height: 100%;
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: 250ms linear;
  overflow: hidden;
}

.site-nav.active {
  right: 0;
}

.site-nav ul {
  padding: 0 40px;
}

.site-nav ul li {
  position: relative;
}

.site-nav ul li a {
  padding: 5px 0;
  color: #212529;
}

.site-nav ul li a:hover,
.site-nav ul li a.active {
  color: var(--main-color);
}

.site-nav ul li a:hover .fa-angle-down {
  color: #212529;
}

.site-nav ul li a .fa-angle-down {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #f8f9fa;
  text-align: center;
  line-height: 36px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  transition: 300ms linear;
}

.site-nav ul li.active>a>.fa-angle-down {
  transform: rotate(180deg);
}

.site-nav ul ul {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: 300ms linear;
}

.site-nav ul li.active>ul {
  max-height: 168px;
}

.site-nav ul ul li a {
  padding-left: 20px;
  font-size: 13px;
  color: #777;
}

.site-nav ul ul ul li a {
  padding-left: 40px;
}

/* _____ style landing-hero _____ */
.landing-hero {
  height: 100vh;
  min-height: 700px;
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/hero_1.jpg.webp') center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-hero .landing-text {
  line-height: 1.4;
}

.landing-hero .landing-text h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}

.landing-hero .landing-text p {
  color: rgba(255, 255, 255, .5);
  margin: 10px 0 50px;
}

.landing-hero .landing-text .video {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

.landing-hero .landing-text .video a {
  display: inline-block;
  margin-right: 10px;
}

.landing-hero .landing-text .video .fa-play {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 100px;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .landing-hero .landing-text h1 {
    font-size: 30px;
  }
}

/* _____ style  _____ */
.bg-circle {
  position: relative;
}

.bg-circle::before {
  content: "";
  position: absolute;
  top: 200px;
  left: -200px;
  width: 656px;
  height: 389px;
  z-index: -1;
  background: url('../images/circle.png.webp');
}

.bg-circle p {
  margin: 20px 0;
  line-height: 1.5;
  z-index: 1;
  position: relative;
}

.bg-circle ul {
  margin: 42px 0 0 20px;
}

.bg-circle ul li {
  margin-bottom: 14px;
  position: relative;
  padding-left: 10px;
}

.bg-circle ul li::before {
  content: "";
  top: 50%;
  left: -20px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 100px;
  transform: translateY(-50%);
  background-color: var(--main-color);
}

.img-wrap {
  position: absolute;
  right: 0;
  max-width: 700px;
  width: 100%;
}

.img-wrap img {
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
}

@media screen and (max-width: 992px) {
  .img-wrap {
    position: relative;
    bottom: 0;
    top: 40px;
  }
}


/* _____ style loop this our teachers _____ */
.teachers-inner {
  border-radius: 70px 70px 200px 70px;
  padding: 40px 40px 80px 40px;
  text-align: center;
}

.teachers-inner .mt-5 {
  margin-top: 58px !important;
}

.teachers-inner .mt-2 {
  margin-top: 28px !important;
}

.teachers-inner .main-img {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  margin-top: -100px;
  margin-bottom: 33px;
}

h3 {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
}

span {
  opacity: .5;
}

.teachers-inner p {
  line-height: 1.5;
}

/* _____ style our services _____ */
.services-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  margin-bottom: 50px;
}

.services-inner .services-icon {
  margin-right: 25px;
}

.services-inner .services-details h3 {
  font-size: 16px;
}

.services-inner .services-details p {
  margin: 9px 0 25px;
  line-height: 1.5;
}

/* _____ style testmonials _____ */
.w-5 {
  max-width: 650px;
  margin: 100px auto 0;
}

.owl-carousel .owl-item img.main-img {
  display: inline-block;
  width: 100px;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block;
}

.owl-theme .owl-nav {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-carousel .owl-nav button {
  position: absolute;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: transparent;
  color: #000;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -50px;
}

.owl-carousel .owl-nav button.owl-next {
  right: -50px;
}

.owl-theme .owl-dots .owl-dot {
  margin-top: 40px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--main-color);
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .owl-carousel .owl-nav {
    display: none !important;
  }

  .size-20 {
    font-size: 14px;
  }
}

/* _____ style blog-post _____ */
.blog-inner {
  background-color: #fff;
  padding: 30px;
}

.blog-inner span span {
  opacity: 1;
}

.blog-inner a {
  display: inline-block;
}

.blog-inner h3 {
  font-size: 22px;
  margin-top: 2px;
  text-transform: none !important;
}

.blog-inner p {
  margin: 25px 0;
  line-height: 1.4;
  font-size: 14px;
}

.tab-blog {
  display: none;
}

.tab-blog.visible {
  display: block;
  animation: fade 250ms linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.custom-pagination a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(236, 1, 1, 0.1);
  margin-right: 5px;
  border-radius: 50%;
  color: var(--main-color);
  font-weight: 700;
  transition: 250ms linear;
}

.custom-pagination a.active,
.custom-pagination a:hover {
  background-color: var(--main-color);
  color: #fff;
}

/* _____ style contact _____ */
form label {
  display: block;
  margin-bottom: 3px;
}

form input,
form textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  height: 45px;
  outline: none;
  padding: 10px;
  font-size: 16px;
  color: #212529;
  margin-bottom: 14px;
  border-bottom: 2px solid var(--main-color);
}

form textarea {
  height: 100px;
  resize: vertical;
}

form input:focus,
form textarea:focus {
  background-color: #fff;
}

button.btn {
  cursor: pointer;
  margin-top: 0;
}

.contact-connect {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.contact-connect p {
  font-size: 16px;
}

.contact-connect>i {
  width: 80px;
  height: 80px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  margin-right: 30px;
  display: inline-block;
  flex: 0 0 80px;
}

/* _____ style footer _____ */
.footer-inner h3 {
  margin-bottom: 38px;
}

.footer-top p {
  margin-bottom: 48px;
  color: rgba(0, 0, 0, .5);
}

.footer-inner ul.social {
  margin-top: 33px;
  display: flex;
}

.footer-inner ul.social li {
  margin-right: 4px;
}

.footer-inner ul.social li a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #777;
  border-radius: 100px;
  color: #fff;
  font-size: 13px;
  transition: 150ms linear;
}

.footer-inner ul.social li a:hover {
  background-color: var(--main-color);
}

.footer-inner ul.footer-nav li {
  margin-bottom: 10px;
}

.footer-inner ul.footer-nav li a {
  color: #777;
  display: inline-block;
  transition: 150ms linear;
}

.footer-inner ul.footer-nav li a:hover {
  color: var(--main-color);
}

.footer-inner address {
  color: #777;
  font-style: normal;
  margin-bottom: 15px;
}

.copy span {
  opacity: 1;
}

.copy a {
  display: inline-block;
  font-weight: bold;
}