// favicon 
link(rel="shortcut icon" href="images/karate.jpg" type="image/x-icon")

// Libraries files 
link(rel="stylesheet" href="css/owl.carousel.min.css")
link(rel="stylesheet" href="css/owl.theme.default.min.css")
link(rel="stylesheet" href="css/all.min.css")

// bootstrap ''grid'' files 
link(rel="stylesheet" href="css/bootstrap-grid.min.css")

// Main stylesheet 
link(rel="stylesheet" href="css/style.css")