block blog-post
	// _____ blog-posts _____
	section.section
		.container
			.row.wow.fadeIn
				.col-md-8.mx-auto.text-center
					.main-title.mb-5
						img(src='images/karate-divider.png.jpg' alt='karate' loading="lazy")
						h2 blog posts
			.row.mt-5.wow.fadeInUpBig
				.col-lg-4.col-md-6.col-sm-12.mb-4
					img(src='images/post_1.jpg.jpg' alt='post_1' loading="lazy")
					.blog-inner
						span
							| July 17, 2019 
							span.mx-2 by
						a.link(href='#') admin
						h3 How Awesome Stay connected
						p
							|Stay connected with How Awesome, your source for inspiration, creativity, and innovation in every aspect of life.
						a.link(href='#') read more
				.col-lg-4.col-md-6.col-sm-12.mb-4
					img(src='images/post_2.jpg.jpg' alt='post_2' loading="lazy")
					.blog-inner
						span
							| July 17, 2019 
							span.mx-2 by
						a.link(href='#') admin
						h3 We Need Unlimitted People
						p
							| We need unlimited people to create limitless possibilities and achieve extraordinary feats together community.
						a.link(href='#') read more
				.col-lg-4.col-md-6.col-sm-12.mx-auto
					img(src='images/post_3.jpg.jpg' alt='post_3' loading="lazy")
					.blog-inner
						span
							| July 17, 2019 
							span.mx-2 by
						a.link(href='#') admin
						h3 Important of getting a notifications
						p
							| Notifications are crucial for staying informed, connected, and promptly responding to important updates.
						a.link(href='#') read more
	// ./blog-posts
