block blog-post
    // _____ blog-posts _____
    section.section
        .container
            .row
                .col-md-8.mx-auto.text-center
                    .main-title.mb-5
                        img(src='images/karate-divider.png.jpg' alt='karate' loading="lazy")
                        h2 blog posts
            .row.mt-5
                .col-lg-4.col-md-6.col-sm-12.mb-4
                    img(src='images/post_1.jpg.jpg' alt='post_1' loading="lazy")
                    .blog-inner
                        span
                            | July 17, 2019 
                            span.mx-2 by
                        a.link(href='#') admin
                        h3 How Awesome Stay connected
                        p
                            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                            | blind texts.
                        a.link(href='#') read more
                .col-lg-4.col-md-6.col-sm-12.mb-4
                    img(src='images/post_2.jpg.jpg' alt='post_2' loading="lazy")
                    .blog-inner
                        span
                            | July 17, 2019 
                            span.mx-2 by
                        a.link(href='#') admin
                        h3 We Need Unlimitted People
                        p
                            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                            | blind texts.
                        a.link(href='#') read more
                .col-lg-4.col-md-6.col-sm-12.mx-auto
                    img(src='images/post_3.jpg.jpg' alt='post_3' loading="lazy")
                    .blog-inner
                        span
                            | July 17, 2019 
                            span.mx-2 by
                        a.link(href='#') admin
                        h3 Important of getting a notifications
                        p
                            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                            | blind texts.
                        a.link(href='#') read more
    // ./blog-posts
