.switcher-color
    span 
        <i class="fa-solid fa-gear"></i>
    ul
        li(data-color="ec0101" style="background-color: #ec0101")
        li(data-color="d5218d" style="background-color: #d5218d")
        li(data-color="464f9e" style="background-color: #464f9e")
        li(data-color="025e69" style="background-color: #025e69")