block features
	// _____ features _____
	section.section.bg-circle
		.container
			.row.justify-content-between
				.col-lg-5.col-sm-12
					.main-title
						img(src='images/karate-divider.png.jpg' alt='karate' loading="lazy")
						h2
							| encourage your 
							br
							|  kids to learn
						p
							|Nurture your kids' curiosity and interests by providing diverse learning opportunities and celebrating their achievements along the way. Foster a positive environment where learning is seen as fun, rewarding, and essential for growt
						ul
							li Taekwondo
							li Brazilian Jiu-Jitsu
							li Muay Thai
							li Basic Defense
						a.btn.btn-primary.enroll(href='#') enroll now
				.col-lg-7.col-sm-12
					.img-wrap
						img(src='images/hero_1.jpg.jpg' alt='hero_1' loading="lazy")
	// ./features
