block features
    // _____ features _____
    section.section.bg-circle
        .container
            .row.justify-content-between
                .col-lg-5.col-sm-12
                    .main-title
                        img(src='images/karate-divider.png.jpg' alt='karate' loading="lazy")
                        h2
                            | encourage your 
                            br
                            |  kids to learn
                        p
                            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                            | blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                            | ocean.
                        ul
                            li Taekwondo
                            li Brazilian Jiu-Jitsu
                            li Muay Thai
                            li Basic Defense
                        a.btn.btn-primary(href='#') enroll now
                .col-lg-7.col-sm-12
                    .img-wrap
                        img(src='images/hero_1.jpg.jpg' alt='hero_1' loading="lazy")
    // ./features
