// _____ footer _____
footer.section
    .container
        .row
            .col-lg-4.col-sm-12
                .footer-inner
                    .footer-top
                        h3 about foundation.
                        p.size-14
                            |Nurture your kids' curiosity and interests by providing diverse learning opportunities and celebrating their achievements along the way.
                    h3 Connect
                    ul.social
                        li
                            a(href='https://github.com/DevKareemReda/Nova')
                                i.fa-brands.fa-instagram
                        li
                            a(href='https://github.com/DevKareemReda/Nova')
                                i.fa-brands.fa-twitter
                        li
                            a(href='https://github.com/DevKareemReda/Nova')
                                i.fa-brands.fa-facebook-f
                        li
                            a(href='https://github.com/DevKareemReda/Nova')
                                i.fa-brands.fa-linkedin-in
                        li
                            a(href='https://github.com/DevKareemReda/Nova')
                                i.fa-brands.fa-pinterest
                        li
                            a(href='https://github.com/DevKareemReda/Nova')
                                i.fa-brands.fa-dribbble
            .col-lg-2.col-sm-12.ms-auto
                .footer-inner
                    h3.mt-lg-0.mt-sm-5.mt-xs-5 links
                    ul.footer-nav
                        li
                            a(href='about.html') about us
                        li
                            a(href='blog.html') blog
                        li
                            a(href='classes.html') classes
                        li
                            a(href='contact.html') contact
            .col-lg-2.col-sm-12
                .footer-inner
                    h3.mt-lg-0.mt-sm-5.mt-xs-5 company
                    ul.footer-nav
                        li
                            a(href='about.html') about us
                        li
                            a(href='blog.html') blog
                        li
                            a(href='classes.html') classes
                        li
                            a(href='contact.html') contact
            .col-lg-3.col-sm-12
                .footer-inner
                    h3.mt-lg-0.mt-sm-5.mt-xs-5 contact
                    address.size-14 43 Raymouth Rd. Baltemoer, London 3910
                    ul.footer-nav
                        li
                            a(href='#') +1(123)-456-7890
                        li
                            a(href='#') +1(123)-456-7890
                        li
                            a(href='#' style='text-transform: none;') info@mydomain.com
            .copy
                .row.mt-5
                    .col-12.text-center
                        p
                            | Copyright &copy; 
                            span
                            |  All rights reserved | This template is made
                            |                 with 
                            a.link(href='https://github.com/DevKareemReda/Nova' target='_blank' title="kareem reda") Kareem R. Elkassas
// ./footer
