// _____ landing-hero _____
section.landing-hero
    .container
        .row
            .col-md-8.mx-auto
                .landing-text
                    block changeHeadHero
                        h1
                            | i&apos;ts never too 
                            br
                            |  late to defend yourself
                        p Far far away, behind the word mountains
                        p.video
                            a(href='#')
                                i.fa-solid.fa-play
                            |Watch video
// ./landing-hero