block teachers
    // _____ our-teachers _____
    section.section
        .container
            .row
                .col-md-8.mx-auto.text-center
                    .main-title.mb-5
                        img(src='images/karate-divider.png.jpg' alt='karate' loading="lazy")
                        h2 our teachers
            .row.mt-5
                .col-lg-3.col-sm-12
                    .teachers-inner.bg-color1
                        img.main-img(src='images/person_1.jpg.jpg' alt='person_1' loading="lazy")
                        h3 maria jones
                        span Instructor
                        p.size-14.mt-5
                            | Far far away, behind the word mountains, far from the countries Vokalia and
                            | Consonantia, there live the
                            | blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                            | ocean.
                .col-lg-3.col-sm-12
                    .teachers-inner.bg-color2
                        img.main-img(src='images/person_2.jpg.jpg' alt='person_2' loading="lazy")
                        h3 james campbel
                        span Instructor
                        p.size-14.mt-5
                            | Far far away, behind the word mountains, far from the countries Vokalia and
                            | Consonantia, there live the
                            | blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                            | ocean.
                .col-lg-3.col-sm-12
                    .teachers-inner.bg-color3
                        img.main-img(src='images/person_3.jpg.jpg' alt='person_3' loading="lazy")
                        h3 rob smith
                        span Instructor
                        p.size-14.mt-5
                            | Far far away, behind the word mountains, far from the countries Vokalia and
                            | Consonantia, there live the
                            | blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                            | ocean.
                .col-lg-3.col-sm-12
                    .teachers-inner.bg-color4
                        img.main-img(src='images/person_4.jpg.jpg' alt='person_4' loading="lazy")
                        h3 kaye hamilton
                        span Instructor
                        p.size-14.mt-5
                            | Far far away, behind the word mountains, far from the countries Vokalia and
                            | Consonantia, there live the
                            | blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                            | ocean.
    // ./our-teachers
