block teachers
	// _____ our-teachers _____
	section.section
		.container
			.row.wow.fadeIn
				.col-md-8.mx-auto.text-center
					.main-title.mb-5
						img(src='images/karate-divider.png.jpg' alt='karate' loading="lazy")
						h2 our teachers
			.row.mt-5.wow.fadeInUpBig
				.col-lg-3.col-sm-12
					.teachers-inner.bg-color1
						img.main-img(src='images/person_1.jpg.jpg' alt='person_1' loading="lazy")
						h3 maria jones
						span Instructor
						p.size-14.mt-5
							|Maria Jones, a skilled karate instructor, embodies the essence of martial arts through disciplined training expert technique instruction, and fostering respect among students, shaping them into proficient practitioners with her dedication and knowledge
				.col-lg-3.col-sm-12
					.teachers-inner.bg-color2
						img.main-img(src='images/person_2.jpg.jpg' alt='person_2' loading="lazy")
						h3 james campbel
						span Instructor
						p.size-14.mt-5
							|James Campbell, a respected karate instructor, instills discipline and technique in his students while fostering a deep respect for martial arts. His teaching emphasizes both physical skill and mental focus, shaping well-rounded practitioners.
				.col-lg-3.col-sm-12
					.teachers-inner.bg-color3
						img.main-img(src='images/person_3.jpg.jpg' alt='person_3' loading="lazy")
						h3 rob smith
						span Instructor
						p.size-14.mt-5
							|Rob Smith, a dedicated karate instructor, combines discipline technique, and respect in his teachings. 
							|With his expertise and passion for martial arts, he guides students to develop both physical prowess and mental focus, fostering a deep  for the art.
				.col-lg-3.col-sm-12
					.teachers-inner.bg-color4
						img.main-img(src='images/person_4.jpg.jpg' alt='person_4' loading="lazy")
						h3 kaye hamilton
						span Instructor
						p.size-14.mt-5
							|Kaye Hamilton, a passionate karate instructor, instills discipline, technique, and respect in her students. With her expertise and dedication, she cultivates a profound understanding and appreciation for martial arts, empowering her students to excel.
	// ./our-teachers
