block testmonials
    // _____ testmonials _____
    section.section
        .container
            .row
                .col-md-8.mx-auto.text-center
                    .main-title.mb-5
                        img(src='images/karate-divider.png.jpg' alt='karate' loading="lazy")
                        h2 testmonials
            .owl-carousel.owl-theme.mt-5
                .teachers-inner.bg-color1.w-5
                    img.main-img(src='images/person_1.jpg.jpg' alt='person_1' loading="lazy")
                    h3 maria jones
                    span Instructor
                    p.size-20.mt-2
                        i
                            | &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and
                            | Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            | Semantics, a large language ocean.&rdquo;
                .teachers-inner.bg-color2.w-5
                    img.main-img(src='images/person_2.jpg.jpg' alt='person_2' loading="lazy")
                    h3 james campbel
                    span Instructor
                    p.size-20.mt-2
                        i
                            | &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and
                            | Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            | Semantics, a large language ocean.&rdquo;
                .teachers-inner.bg-color3.w-5
                    img.main-img(src='images/person_3.jpg.jpg' alt='person_3' loading="lazy")
                    h3 rob smith
                    span Instructor
                    p.size-20.mt-2
                        i
                            | &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and
                            | Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            | Semantics, a large language ocean.&rdquo;
    // ./testmonials
