extends index
block changeTitlePage
    title Nova - About
block homeActive
    li: a(href='index.html') home
block classesActive
    li: a(href='classes.html') classes
block blogActive
    li: a(href='blog.html') blog
block aboutActive
    li: a.active(href='blog.html') about
block changeHeadHero
    h1 about us
    p Nurture your kids' curiosity and interests

block services
block testmonials
block blog-post
block contact
