extends index
block homeActive
    li: a(href='index.html') home
block classesActive
    li: a(href='classes.html') classes
block blogActive
    li: a(href='blog.html') blog
block aboutActive
    li: a.active(href='blog.html') about
block changeHeadHero
    h1 about us
    p Far far away, behind the word mountains

block services
block testmonials
block blog-post
block contact
