extends index
block changeTitlePage
    title Nova - Classes
block homeActive
    li: a(href='index.html') home
block classesActive
    li: a.active(href='classes.html') classes
block changeHeadHero
    h1 classes
    p Nurture your kids' curiosity and interests

block features
    // _____ classes _____
    section.section
    .container
        .row
            .col-md-8.mx-auto.text-center
                .main-title.mb-5
                    img(src='images/karate-divider.png.jpg' alt='karate')
                    h2 classes
        .row.mt-5
            .col-lg-3.col-sm-6.mb-4
                .teachers-inner.bg-color1
                    h3 taekwondo
                    span.d-block Instructor
                    span.d-block Maria Jones
                    .mt-5
                        span.d-block.text-black-50 Schedule:
                        span.d-block.text-black Monday - Friday
                        span.d-block.text-black 8:00AM - 5:00PM
                        a.btn.btn-outline-primary.enroll(href='#') enroll now
            .col-lg-3.col-sm-6.mb-4
                .teachers-inner.bg-color2
                    h3 brazilian jiu-jitsu
                    span.d-block Instructor
                    span.d-block James Campbel
                    .mt-5
                        span.d-block.text-black-50 Schedule:
                        span.d-block.text-black Monday - Friday
                        span.d-block.text-black 8:00AM - 5:00PM
                        a.btn.btn-outline-primary.enroll(href='#') enroll now
            .col-lg-3.col-sm-6.mb-4
                .teachers-inner.bg-color3
                    h3 muay thai
                    span.d-block Instructor
                    span.d-block Rob Smith
                    .mt-5
                        span.d-block.text-black-50 Schedule:
                        span.d-block.text-black Monday - Friday
                        span.d-block.text-black 8:00AM - 5:00PM
                        a.btn.btn-outline-primary.enroll(href='#') enroll now
            .col-lg-3.col-sm-6.mb-4
                .teachers-inner.bg-color4
                    h3 basic defense
                    span.d-block Instructor
                    span.d-block Kaye Hamilton
                    .mt-5
                        span.d-block.text-black-50 Schedule:
                        span.d-block.text-black Monday - Friday
                        span.d-block.text-black 8:00AM - 5:00PM
                        a.btn.btn-outline-primary.enroll(href='#') enroll now
            .col-lg-3.col-sm-6.mb-4
                .teachers-inner.bg-color4
                    h3 taekwondo
                    span.d-block Instructor
                    span.d-block Maria Jones
                    .mt-5
                        span.d-block.text-black-50 Schedule:
                        span.d-block.text-black Monday - Friday
                        span.d-block.text-black 8:00AM - 5:00PM
                        a.btn.btn-outline-primary.enroll(href='#') enroll now
            .col-lg-3.col-sm-6.mb-4
                .teachers-inner.bg-color3
                    h3 brazilian jiu-jitsu
                    span.d-block Instructor
                    span.d-block James Campbel
                    .mt-5
                        span.d-block.text-black-50 Schedule:
                        span.d-block.text-black Monday - Friday
                        span.d-block.text-black 8:00AM - 5:00PM
                        a.btn.btn-outline-primary.enroll(href='#') enroll now
            .col-lg-3.col-sm-6.mb-4
                .teachers-inner.bg-color2
                    h3 muay thai
                    span.d-block Instructor
                    span.d-block Rob Smith
                    .mt-5
                        span.d-block.text-black-50 Schedule:
                        span.d-block.text-black Monday - Friday
                        span.d-block.text-black 8:00AM - 5:00PM
                        a.btn.btn-outline-primary.enroll(href='#') enroll now
            .col-lg-3.col-sm-6.mb-4
                .teachers-inner.bg-color1
                    h3 basic defense
                    span.d-block Instructor
                    span.d-block Kaye Hamilton
                    .mt-5
                        span.d-block.text-black-50 Schedule:
                        span.d-block.text-black Monday - Friday
                        span.d-block.text-black 8:00AM - 5:00PM
                        a.btn.btn-outline-primary.enroll(href='#') enroll now
    // ./classes
block services
block teachers
block blog-post
block contact
