include assets/helpers/variable
include assets/helpers/mixin
doctype html
html(lang="en")
	head
		include assets/scripts/meta
		block changeTitlePage
			title Nova
		include assets/scripts/links
	body 
		include assets/layout/preloader
		include assets/layout/header-line
		include assets/layout/colors
		include assets/layout/nav-menu
		include assets/layout/nav-site-mobile
		include assets/layout/landing-hero
		include assets/layout/enroll.pug
		include assets/layout/features
		include assets/layout/teachers
		include assets/layout/services
		include assets/layout/testmonials
		include assets/layout/blog-post
		include assets/layout/contact
		include assets/layout/footer
		include assets/scripts/scripts